.mooninfo-container {
  box-shadow: 4px 3px 8px 1px #969696;
  background-color: whitesmoke;
  padding-right: 70%;
  padding-left: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
